.createForm {
  color: white;
  position: relative;
  /* top: 50px; */
  width: 90%;
  border: 2px solid white;
  margin: auto;
  padding: 50px 30px 30px 30px;
}
.createH3 {
  width: 90%;
  margin: auto;
  background-color: red;
  position: relative;
  padding: 3px;
  top: 38px;
  color: white;
  text-align: center;
}
.createLabel {
  padding: 10px;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
  width: 170px;
}
.createSubmit {
  margin: 20px;
  width: 150px;
  margin-left: 35%;
}
.createInpute {
  width: 300px;
}
