.tableRow1 {
  background-color: red;
}
.navigation {
  font-size: 20px;
  margin: auto;
  text-align: center;
  text-decoration: dotted;
  cursor: pointer;
  color: white;
}
h3 {
  padding: 0;
}
.updateForm {
  text-align: center;
  margin: auto;
  margin-top: 60px;
  border: 2px solid black;
  width: 80%;
}
.table {
  margin: auto;
  border: 2px solid white;
  width: 90%;
}
.tableColom {
  color: black;
  border-right: 2px solid white;
}
.tableData {
  color: white;
  border-right: 2px solid white;
}
